*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
.linkMenu{
    text-decoration: none;
    color:bisque;
}   
/*******************************************************************
|                    MEDIA QUERIE - PC Y TABLET                    |
********************************************************************/
@media (min-width:480px){
    /*-----------------------------------------------GRID DEL INDEX*/
    #gridIndexArea{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        "cabeza cabeza cabeza"
        "menu menu menu"
        "botones botones mapa"
        "botones botones mapa"
        "botones botones mapa"
        "pie pie pie"    ;
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: 25% 5% 60%  1%;
       
    }
    header{
        grid-area: cabeza;
        width: 100%;
        height: 100%;
    }
    #menu{
        grid-area: menu;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-image:linear-gradient(#B42128 70%, white  ) ;
        
    }

    #botones{
        grid-area: botones;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  
    
    #mapa{
        grid-area: mapa;
        text-align: center;
    }
    footer{
        grid-area: pie;
        text-align: center;
        background-color: #B42128;
        color:bisque;
        padding: 5px;
        font-size:x-small;
        display: flex;
        flex-flow: column;
        align-items: center;
        background-image:linear-gradient(to top,#B42128 90%, white  ) ;
    }
    
    .banner{
        width: 100%;
        height: 100%;
    }
    .botonMenu{
        color:bisque;
        margin-right:15px;
        margin-left:15px;
    }
    
    img{
        width: 100%;
        height: 100%;
    }
    .botonMenu:hover {
        border-radius:  10%;
        padding:10px;
        color: bisque;
        background-color: #B42128;
        margin: 0;
        border: solid 2px ;
        cursor: pointer;
        transition: 0.2s;
        transform: scale(1.1);
    }
    .imgFooter{
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    .iconMain{
        margin: 5px;
        border-radius: 10%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border:solid 5px white;
        
    }
    .iconMain:hover{
        border: solid 5px blue;
        transition: 1s;
        opacity: 0.5;
        transform: scale(1.05);
    }
    .mapaCole{
        width: 100%;
        height: 100%;
    }
    .titleMapa{
        border: solid 5px #090975;
        border-radius: 10px;
    }

    /*----------------------------------------GRID DE INSTITUCIONAL*/
    #gridInstitucionalArea{
        display:grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        "cabeza cabeza"
        "menu menu"
        "logo video"
        "texto texto"
        "directivos directivos"
        "firmas firmas"
        "pie pie"
        ;    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 5% 50% auto auto auto 20%;
       
    }

    .videoSection{
        grid-area: video;
        width: 100%;
        height: 100%;
    }
    .escudo{
        grid-area: logo;
        text-align: center;
    }
    .textoInstitucional{
        grid-area: texto;
        
        
    }
    .cupula{
        grid-area: directivos;
    }
    .firmasCupula{
        grid-area: firmas;
    }

    .video{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    
    #colegio{
        width: 70%;
        height:100%;
        padding: 10px;
        
    }
    .animacion{
        animation-name: iconoSecu;
        animation-duration: 5s;
    }
    @keyframes iconoSecu {
        from{
            transform: translateX(1000);
        }

        to{
            transform:translateX(0) ;
        }
    }
    p{
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: justify;
        font-size: small;
    }
    .contDirectivos{
        width: 100%;
        height: 100%;
        padding:20px ;
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: center;
        grid-column-gap: 50px;
    }
    .directivo{
        width: 100%;
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .dire{
        width: 100%;
        height: 100%;
    }
    .contFirmas{
        width: 100%;
        height: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: center;
        grid-column-gap: 50px;
    }
    .firmas{
        width: 100%;
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .firm{
        width: 100%;
        height: 100%;
    }
    /*----------------------------------------GRID DE CONTACTANOS*/
    #gridContactoArea{
        display: grid;
        display:grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        "cabeza cabeza"
        "menu menu"
        "contact textContact"
        "formContact formContact"
        "pie pie"
        ;    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 5% 30% auto auto;       
       
    }

    .iconoContacto{
        grid-area: contact;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: right;

    }
    .textoContacto{
        grid-area: textContact;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;      
        padding: 20px;
        padding-left: 0;
      
    }
    .parrafoContacto{
        width: 100%;   
    }    
    .form{
        grid-area: formContact;
        text-align: center;
     
    }
    
    .logoChat{
        width: 100%;
        height: 100%;
    }
    .formulario{
        display: flex;
        justify-content: center;
        text-align: justify;
        align-content: center;
        margin: 20px;
    }
    .itemForm{
        width: 100%;
    }
    /*-----------------------------------------------GRID DE DOCENTES*/
    #docentesGridArea{
        display: grid;
        grid-template-areas: 
        "cabeza"
        "menu"
        "iconTeacher"
        "formuDocentes"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 5% auto 27% auto;       
    }
    .iconoDocentes{
        grid-area: iconTeacher;
        width: 100%;
        height: 300px;
        padding: 50px;
        text-align: center;
    }
    .formuDocentes{
        grid-area: formuDocentes;
        padding: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .logoDocente{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .docente{
      width: 20%;
      height: 80%;
    }
    .formbutton{
        align-items: center;
    }

    /*-----------------------------------------------GRID DE ALUMNOS*/
    #alumnosGridArea{
        display: grid;
        grid-template-areas: 
        "cabeza"
        "menu"
        "iconAlumno"
        "formuAlumno"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 5% auto 27% auto;       
    }
    .iconoAlumnos{
        grid-area: iconAlumno;
        width: 100%;
        height: 300px;
        padding: 50px;
        text-align: center;
    }
    .formuAlumno{
        grid-area: formuAlumno;
        padding: 40px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }
    .logoAlumno{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .alumno{
        width: 20%;
        height: 80%;
    }
    .formbutton{
        align-items: center;
    }



}




/*******************************************************************
|                    MEDIA QUERIE - SMARTPHONE                     |
********************************************************************/

@media (max-width: 479px){
    /*-----------------------------------------------GRID DEL INDEX*/
    #gridArea{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        "cabeza cabeza"
        "menu menu"
        "botones botones"
        "botones botones"
        "botones botones"
        "mapa mapa"
        "pie pie"    ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 5% 40% 40% 1%;
       
    }
    header{
        grid-area: cabeza;
        width: 100%;
        height: 100%;
    }
    #menu{
        grid-area: menu;
        display: flex;
        flex-flow: row;
        font-size: 10px;
        justify-content: center;
        align-items: center;
        background-image:linear-gradient(#B42128 70%, white  ) ;
    
    }
    #botones{
        grid-area: botones;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #mapa{
        grid-area: mapa;
        text-align: center;
    }
    footer{
        grid-area: pie;
        text-align: center;
        background-image:linear-gradient(to top,#B42128 90%, white  ) ;
        color:bisque;
        padding: 5px;
        font-size:x-small;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    .banner{
        width: 100%;
        height: 100%;
    }
    .botonMenu{
        color:bisque;
        margin-right:15px;
        margin-left:15px;
    }

    img{
        width: 100%;
        height: 100%;
    }
    .botonMenu:hover {
        border-radius:  10%;
        padding:10px;
        color: bisque;
        background-color: #B42128;
        margin: 0;
        border: solid 2px ;
        cursor: pointer;
        transition: 0.2s;
        transform: scale(1.1);
    }
    .imgFooter{
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    .iconMain{
        margin: 5px;
        border-radius: 10%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border:solid 5px white;
        
    }
    .iconMain:hover{
        border: solid 5px blue;
        transition: 1s;
        opacity: 0.5;
        transform: scale(1.05);
    }
    .mapaCole{
        width: 100%;
        height: 100%;
    }
    .titleMapa{
        border: solid 5px #090975;
        border-radius: 10px;
    }
    /*--------------------------------------GRID DEL INSTITUCIONAL*/
    #gridInstitucionalArea{
        display:grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        "cabeza"
        "menu"
        "logo"
        "video"
        "texto"
        "directivos"
        "firmas"
        "pie"
        ;    
        grid-template-columns: 100% ;
        grid-template-rows: 25% 5% 50% 22% auto auto auto 10%;
       
    }

    .videoSection{
        grid-area: video;
        width: 100%;
        height: 100%;
    }
    .escudo{
        grid-area: logo;
        text-align: center;
    }
    .textoInstitucional{
        grid-area: texto;
        
    }
    .cupula{
        grid-area: directivos;
        
    }
    .firmasCupula{
        grid-area: firmas;
    }

    .video{
        width: 100%;
        height: 100%;
    }
    
    #colegio{
        width: 70%;
        height:100%;
        padding: 10px;
    }
    p{
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: justify;
    }
    .contDirectivos{
        width: 100%;
        height: 100%;
        padding:20px ;
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: center;
        grid-column-gap: 50px;
    }
    .directivo{
        width: 100%;
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .dire{
        width: 100%;
        height: 100%;
    }
    .contFirmas{
        width: 100%;
        height: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: center;
        grid-column-gap: 50px;
    }
    .firmas{
        width: 100%;
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .firm{
        width: 100%;
        height: 100%;
    }
    /*--------------------------------------GRID DE CONTACTANOS*/
    #gridContactoArea{
        display: grid;
        display:grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        "cabeza"
        "menu"
        "contact"
        "textContact"
        "formContact"
        "pie"
        ;    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 5% 30% auto auto auto;       
       
    }

    .iconoContacto{
        grid-area: contact;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: right;

    }
    .textoContacto{
        grid-area: textContact;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-left: 0;
      
    }
    .parafoContacto{
        width: 100%;
    }
    .form{
        grid-area: formContact;
        text-align: center;
     
    }
    .logoChat{
        width: 100%;
        height: 100%;
    }
    .formulario{
        display: flex;
        justify-content: center;
        text-align: justify;
        align-content: center;
        margin: 20px;
    }
    /*-----------------------------------------------GRID DE DOCENTES*/
    #docentesGridArea{
        display: grid;
        grid-template-areas: 
        "cabeza"
        "menu"
        "iconTeacher"
        "formuDocentes"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 5% auto 27% auto;       
    }
    .iconoDocentes{
        grid-area: iconTeacher;
        width: 100%;
        height: 300px;
        padding: 50px;
        text-align: center;
    }
    .formuDocentes{
        grid-area: formuDocentes;
        padding: 40px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }
    .logoDocente{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .docente{
      width: 20%;
      height: 80%;
    }
    .formbutton{
        align-items: center;
    }
    /*-----------------------------------------------GRID DE ALUMNOS*/
    #aluimnosGridArea{
        display: grid;
        grid-template-areas: 
        "cabeza"
        "menu"
        "iconAlumno"
        "formuAlumno"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 5% auto 27% auto;       
    }
    .iconoAlumnos{
        grid-area: iconAlumno;
        width: 100%;
        padding: 50px;
        text-align: center;
    }
    .formuAlumno{
        grid-area: formuAlumno;
        padding: 40px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }
    .logoAlumno{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .alumno{
        width: 20%;
        height: 80%;
    }
    .formbutton{
        align-items: center;
    }
    

}
